@model IEnumerable<LuongTheLuc.Models.GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GioHang</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.malich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maphim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iSoLuong)
        </th>
        <th>
            Thành tiền
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.malich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maphim)
            </td>

            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @id = item.maphim }))
            {
                <td>
                    @string.Format("{0:#.000}", item.gia) VND
                </td>
                <td>
                    <input type="number" min="1" name="txtSoLg" value="@item.iSoLuong" />
                </td>
                <td>
                    @string.Format("{0:#.000}", item.dThanhTien) VND
                </td>

                <td>
                    <a href="@Url.Action("Detail","Cinema", new { id = item.malich})">Chi tiết</a>
                    |@Html.ActionLink("Xóa", "XoaGioHang", new { @id = item.malich.ToString().Trim() })
                </td>
                <td>
                    <input type="submit" value="Cập nhật" class="btn btn-success" />
                </td>
            }
        </tr>
    }
    <tr style="font-weight:bold;text-align:left;color:red">
        <td colspan="2">Số loại: @ViewBag.TongSoLuongSanPham</td>
        <td colspan="2">Số lượng: @ViewBag.TongSoLuong</td>

        <td colspan="2">Tổng tiền: @string.Format("{0:#.000}", ViewBag.TongTien) VND</td>

    </tr>

    <tr style="font-weight:bold;text-align:right;color:blue">
        <td colspan="5">
            @Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang", "GioHang")
        </td>
    </tr>

    <tr style="font-weight:bold;text-align:right;color:yellow">
        <td colspan="5">
            @Html.ActionLink("Đặt hàng", "DatHang", "GioHang")
        </td>
    </tr>

</table>
